
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Portal</title>
    
    <link rel="stylesheet" href="alumnibot/css/main.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../alumini_assets/img/favicon/favicon.ico"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../alumini_assets/img/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../../alumini_assets/img/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../../alumini_assets/img/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../../alumini_assets/img/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../../alumini_assets/img/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../../alumini_assets/img/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../../alumini_assets/img/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../../alumini_assets/img/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../../alumini_assets/img/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../alumini_assets/img/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../../alumini_assets/img/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../alumini_assets/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../../alumini_assets/img/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../alumini_assets/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../../alumini_assets/img/favicon/manifest.json" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../alumini_assets/img/favicon.ico"
    />
    <link rel="icon" type="image/x-icon" href="../../alumini_assets/img/favicon.ico" />

    <!-- Fallback For IE 9 [ Media Query and html5 Shim] -->
    <!--[if lt IE 9]>
      <script src="assets/vendor/css3-mediaqueries-js/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- GOOGLE FONT -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- BOOTSTRAP CSS -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../alumini_assets/vendor/navbar/bootstrap-4-navbar.css" />

    <!--Animate css -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/animate/animate.css"
      media="all"
    />

    <!-- FONT AWESOME CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../alumini_assets/vendor/fontawesome/css/font-awesome.min.css"
    />

    <!--owl carousel css -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/owl-carousel/owl.carousel.css"
      media="all"
    />

    <!--Magnific Popup css -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/magnific/magnific-popup.css"
      media="all"
    />

    <!--Nice Select css -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/nice-select/nice-select.css"
      media="all"
    />

    <!--Offcanvas css -->
    <link
      rel="stylesheet"
      href="../../alumini_assets/vendor/js-offcanvas/css/js-offcanvas.css"
      media="all"
    />

    <!-- MODERNIZER  -->
    <script src="../../alumini_assets/vendor/modernizr/modernizr-custom.js"></script>

    <!-- Main Master Style  CSS  -->
    <link
      id="cbx-style"
      data-layout="1"
      rel="stylesheet"
      href="../../alumini_assets/css/style-default.min.css"
      media="all"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        We are Extreamly sorry, But the browser you are using is probably from
        when civilization started. Which is way behind to view this site
        properly. Please update to a modern browser, At least a real browser.
      </p>
    <![endif]-->

    <!--== Header Area Start ==-->
    <header id="header-area">
      <div class="header-bottom-area fixed" id="fixheader">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="main-menu navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                  <h5> Portal</h5>
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#menucontent"
                  aria-controls="menucontent"
                  aria-expanded="false"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menucontent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="event.jsp">Event</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a
                        title="Login"
                        class="btn-auth btn-auth-rev"
                        href="login.html"
                        >Login</a
                      >
                    </li>
                    <li class="nav-item">
                      <a title="Login" class="btn-outline " href="register.html"
                        >Register</a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--== Header Area End ==-->

    <!--== Slider Area Start ==-->
    <section id="slider-area">
      <div class="slider-active-wrap owl-carousel text-center text-md-left">
        <!-- Single Slide Item Start -->
        <div class="single-slide-wrap slide-bg-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="slider-content">
                  <h2>We Are Proud</h2>
                  <h3>Students of <span>D.H.E. Goa</span></h3>
                  <p>
                     Needs enables you to harness the power of your 
                    network. Whatever may be the need (academic, relocation,
                    career, projects, mentorship, etc. you can ask the community
                    and get responses in three.
                  </p>
                  <div class="slider-btn">
                    <a href="#about-area" class="btn btn-brand smooth-scroll"
                      >our mission</a
                    >
                    <a href="about.html" class="btn btn-brand-rev">our story</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Slide Item End -->
        
        <!-- Single Slide Item End -->
      </div>
    </section>
    <!--== Slider Area End ==-->

    <!--== Upcoming Event Area Start ==-->
    <section id="upcoming-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="upcoming-event-wrap">
              <div class="up-event-titile">
                <h3>Upcoming events</h3>
              </div>
              <div class="upcoming-event-content owl-carousel">
                <!-- No 1 Event -->
                <div class="single-upcoming-event">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="up-event-thumb">
                        <img
                          src="../../alumini_assets/img/event/event-img-1.jpg"
                          class="img-fluid"
                          alt="Upcoming Event"
                        />
                        <h4 class="up-event-date">It’s 14 January 2020</h4>
                      </div>
                    </div>

                    <div class="col-lg-7">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="up-event-text">
                            <div class="event-countdown">
                              <div
                                class="event-countdown-counter"
                                data-date="2020/1/14"
                              ></div>
                              <p>Remaining</p>
                            </div>
                            <h3>
                              <a href="single-event.jsp"
                                >We are going to arrange a get together!</a
                              >
                            </h3>
                            <p>
                              Hello everybody Lorem ipsum dolor sit amet,
                              consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim and minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquipv ex
                              ea.
                            </p>
                            <a
                              href="single-event.jsp"
                              class="btn btn-brand btn-brand-dark"
                              >join with us</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- partial -->

                <!-- No 2 Event -->
                <div class="single-upcoming-event">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="up-event-thumb">
                        <img
                          src="../../alumini_assets/img/event/event-img-2.jpg"
                          class="img-fluid"
                          alt="Upcoming Event"
                        />
                        <h4 class="up-event-date">It’s 14 January 2020</h4>
                      </div>
                    </div>

                    <div class="col-lg-7">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="up-event-text">
                            <div class="event-countdown">
                              <div
                                class="event-countdown-counter"
                                data-date="2020/1/14"
                              ></div>
                              <p>Remaining</p>
                            </div>
                            <h3>
                              <a href="single-event.jsp"
                                >We are going to arrange a get together!</a
                              >
                            </h3>
                            <p>
                              Hello everybody Lorem ipsum dolor sit amet,
                              consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim and minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquipv ex
                              ea.
                            </p>
                            <a
                              href="single-event.jsp"
                              class="btn btn-brand btn-brand-dark"
                              >join with us</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- partial -->

                <!-- No 3 Event -->
                <div class="single-upcoming-event">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="up-event-thumb">
                        <img
                          src="../../alumini_assets/img/event/event-img-3.jpg"
                          class="img-fluid"
                          alt="Upcoming Event"
                        />
                        <h4 class="up-event-date">It’s 14 January 2020</h4>
                      </div>
                    </div>

                    <div class="col-lg-7">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="up-event-text">
                            <div class="event-countdown">
                              <div
                                class="event-countdown-counter"
                                data-date="2020/1/14"
                              ></div>
                              <p>Remaining</p>
                            </div>
                            <h3>
                              <a href="single-event.jsp"
                                >We are going to arrange a get together!</a
                              >
                            </h3>
                            <p>
                              Hello everybody Lorem ipsum dolor sit amet,
                              consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim and minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquipv ex
                              ea.
                            </p>
                            <a
                              href="single-event.jsp"
                              class="btn btn-brand btn-brand-dark"
                              >join with us</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- partial -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== Upcoming Event Area End ==-->

    <!--== About Area Start ==-->
    <section id="about-area" class="section-padding">
      <div class="about-area-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="about-content-wrap">
                <div class="section-title text-center text-lg-left">
                  <h2>Our Misssion</h2>
                </div>

                <div class="about-thumb">
                  <img src="../../alumini_assets/img/about-bg.jpg" alt="" class="img-fluid" />
                </div>

                <p>
                  There are many company Lorem ipsm dolor sitg amet, csetur
                  adipicing elit, sed do eiusmod tempor dncint ut labore et
                  dolore magna alis enim ad minim veniam, quis csetur adipicing
                  elit, sed do eiusmod tempor dncint ut labore et dolore magna
                  alis enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <p>
                  There are many company Lorem ipsm dolor sitg amet, csetur
                  adipicing elit, sed do eiusmod tempor dncint ut labore et
                  dolore magna alis enim ad minim veniam, quis nostrud
                  exercitation ullamco.
                </p>
                <a href="about.html" class="btn btn-brand about-btn"
                  >know more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== About Area End ==-->

    <!--== Our Responsibility Area Start ==-->
    <section id="responsibility-area" class="section-padding">
      <div class="container">
        <!--== Section Title Start ==-->
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>Our Responsibility</h2>
            </div>
          </div>
        </div>
        <!--== Section Title End ==-->

        <!--== Responsibility Content Wrapper ==-->
        <div class="row text-center text-sm-left">
          <!--== Single Responsibility Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-responsibility">
              <img
                src="../../alumini_assets/img/responsibility/01.png"
                alt="Responsibility"
              />
              <h4>Scholarship</h4>
              <p>
                De create building thinking about your requirment and latest
                treand on our marketplace area
              </p>
            </div>
          </div>
          <!--== Single Responsibility End ==-->

          <!--== Single Responsibility Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-responsibility">
              <img
                src="../../alumini_assets/img/responsibility/02.png"
                alt="Responsibility"
              />
              <h4>Help Current Students</h4>
              <p>
                De create building thinking about your requirment and latest
                treand on our marketplace area
              </p>
            </div>
          </div>
          <!--== Single Responsibility End ==-->

          <!--== Single Responsibility Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-responsibility">
              <img
                src="../../alumini_assets/img/responsibility/03.png"
                alt="Responsibility"
              />
              <h4>Help Our University</h4>
              <p>
                De create building thinking about your requirment and latest
                treand on our marketplace area
              </p>
            </div>
          </div>
          <!--== Single Responsibility End ==-->

          <!--== Single Responsibility Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-responsibility">
              <img
                src="../../alumini_assets/img/responsibility/04.png"
                alt="Responsibility"
              />
              <h4>Build Our Community</h4>
              <p>
                De create building thinking about your requirment and latest
                treand on our marketplace area
              </p>
            </div>
          </div>
          <!--== Single Responsibility End ==-->
        </div>
        <!--== Responsibility Content Wrapper ==-->
      </div>
    </section>
    <!--== Our Responsibility Area End ==-->

    <!--== FunFact Area Start ==-->
    <section id="funfact-area">
      <div class="container-fluid">
        <div class="row text-center">
          <!--== Single FunFact Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
              <div class="funfact-icon">
                <img src="../../alumini_assets/img/fun-fact/user.svg" alt="Funfact" />
              </div>
              <div class="funfact-info">
                <h5 class="funfact-count">4025</h5>
                <p>Members</p>
              </div>
            </div>
          </div>
          <!--== Single FunFact End ==-->

          <!--== Single FunFact Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
              <div class="funfact-icon">
                <img src="../../alumini_assets/img/fun-fact/picture.svg" alt="Funfact" />
              </div>
              <div class="funfact-info">
                <h5 class="funfact-count">8725</h5>
                <p>Photos</p>
              </div>
            </div>
          </div>
          <!--== Single FunFact End ==-->

          <!--== Single FunFact Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
              <div class="funfact-icon">
                <img src="../../alumini_assets/img/fun-fact/event.svg" alt="Funfact" />
              </div>
              <div class="funfact-info">
                <h5><span class="funfact-count">231</span>+</h5>
                <p>Events</p>
              </div>
            </div>
          </div>
          <!--== Single FunFact End ==-->

          <!--== Single FunFact Start ==-->
          <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
              <div class="funfact-icon">
                <img src="../../alumini_assets/img/fun-fact/medal.svg" alt="Funfact" />
              </div>
              <div class="funfact-info">
                <h5><span class="funfact-count">32</span>+</h5>
                <p>Awards</p>
              </div>
            </div>
          </div>
          <!--== Single FunFact End ==-->
        </div>
      </div>
    </section>
    <!--== FunFact Area End ==-->

    <!--== Gallery Area Start ==-->
    <section id="gallery-area" class="section-padding">
      <div class="container">
        <!--== Section Title Start ==-->
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>Our gallery</h2>
            </div>
          </div>
        </div>
        <!--== Section Title End ==-->

        <!--== Gallery Container Warpper ==-->
        <div class="gallery-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <!-- Gallery Menu Start -->
              <div class="gallery-menu text-center">
                <span class="active" data-filter="*">All</span>
                <span data-filter=".old">Old Memories</span>
                <span data-filter=".event">Event</span>
                <span data-filter=".pic">Our Picnic</span>
                <span class="d-none d-sm-inline-block" data-filter=".recent"
                  >Recent</span
                >
              </div>
              <!-- Gallery Menu End -->

              <!-- Gallery Item content Start -->
              <div class="row gallery-gird">
                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 recent event">
                  <div class="single-gallery-item gallery-bg-1">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-1.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 old event pic">
                  <div class="single-gallery-item video gallery-bg-2">
                    <a
                      href="https://player.vimeo.com/video/140182080?title=0&portrait=0&byline=0&autoplay=1&loop=1"
                      class="btn btn-video-play video-popup"
                      ><i class="fa fa-play"></i
                    ></a>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 recent pic">
                  <div class="single-gallery-item gallery-bg-3">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-3.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 old">
                  <div class="single-gallery-item gallery-bg-4">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-4.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 pic event">
                  <div class="single-gallery-item gallery-bg-5">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-5.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 old recent">
                  <div class="single-gallery-item gallery-bg-6">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-6.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 pic">
                  <div class="single-gallery-item video gallery-bg-7">
                    <a
                      href="https://player.vimeo.com/video/181545195?title=0&portrait=0&byline=0&autoplay=1&loop=1"
                      class="btn btn-video-play video-popup"
                      ><i class="fa fa-play"></i
                    ></a>
                  </div>
                </div>
                <!-- Single Gallery End -->

                <!-- Single Gallery Start -->
                <div class="col-lg-3  col-sm-6 pic recent old">
                  <div class="single-gallery-item gallery-bg-8">
                    <div class="gallery-hvr-wrap">
                      <div class="gallery-hvr-text">
                        <h4>University Cumpus</h4>
                        <p class="gallery-event-date">28 Oct, 2018</p>
                      </div>
                      <a
                        href="../../alumini_assets/img/gallery/gellary-img-8.jpg"
                        class="btn-zoom image-popup"
                      >
                        <img src="../../alumini_assets/img/zoom-icon.png" alt="a" />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Single Gallery End -->
              </div>
              <!-- Gallery Item content End -->
            </div>
          </div>
        </div>
        <!--== Gallery Container Warpper==-->
      </div>
    </section>
    <!--== Gallery Area Start ==-->

    <!--== Scholership Promo Area Start ==-->
    <section id="scholership-promo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="scholership-promo-text">
              <h2>
                Demo University Provide <span>Scholarship</span> For Talented
                Student!
              </h2>
              <p>
                 Needs enables you to harness the power of your 
                network. Whatever may be the need academic, relocation, career,
                projects, mentorship, etc you can ask the community and get
              </p>
              <a href="#" class="btn btn-brand">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== Scholership Promo Area End ==-->

    <!--== Blog Area Start ==-->
    <section id="blog-area" class="section-padding">
      <div class="container">
        <!--== Section Title Start ==-->
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>
          </div>
        </div>
        <!--== Section Title End ==-->

        <!--== Blog Content Wrapper ==-->
        <div class="row">
          <!--== Single Blog Post start ==-->
          <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
              <figure class="blog-thumb">
                <div class="blog-thumbnail">
                  <img
                    src="../../alumini_assets/img/blog/blog-1.jpg"
                    alt="Blog"
                    class="img-fluid"
                  />
                </div>
                <figcaption class="blog-meta clearfix">
                  <a href="single-blog.jsp" class="author">
                    <div class="author-pic">
                      <img src="../../alumini_assets/img/blog/author.jpg" alt="Author" />
                    </div>
                    <div class="author-info">
                      <h5>Daney williams</h5>
                      <p>2 hours Ago</p>
                    </div>
                  </a>
                  <div class="like-comm pull-right">
                    <a href="#"><i class="fa fa-comment-o"></i>77</a>
                    <a href="#"><i class="fa fa-heart-o"></i>12</a>
                  </div>
                </figcaption>
              </figure>

              <div class="blog-content">
                <h3>
                  <a href="single-blog.jsp"
                    >Recently we create a maassive project that</a
                  >
                </h3>
                <p>
                  This is a big project of our company, we are happy to
                  completed this type projec which are get world famous award
                </p>
                <a href="single-blog.jsp" class="btn btn-brand">More</a>
              </div>
            </article>
          </div>
          <!--== Single Blog Post End ==-->

          <!--== Single Blog Post start ==-->
          <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
              <figure class="blog-thumb">
                <div class="blog-thumbnail">
                  <img
                    src="../../alumini_assets/img/blog/blog-2.jpg"
                    alt="Blog"
                    class="img-fluid"
                  />
                </div>
                <figcaption class="blog-meta clearfix">
                  <a href="single-blog.jsp" class="author">
                    <div class="author-pic">
                      <img src="../../alumini_assets/img/blog/author.jpg" alt="Author" />
                    </div>
                    <div class="author-info">
                      <h5>Myra Hindley</h5>
                      <p>1 Day Ago</p>
                    </div>
                  </a>
                  <div class="like-comm pull-right">
                    <a href="#"><i class="fa fa-comment-o"></i>77</a>
                    <a href="#"><i class="fa fa-heart-o"></i>12</a>
                  </div>
                </figcaption>
              </figure>

              <div class="blog-content">
                <h3>
                  <a href="single-blog.jsp"
                    >Myra Hindley and her lover, Ian Brady, plotted and</a
                  >
                </h3>
                <p>
                  This is a big project of our company, we are happy to
                  completed this type projec which are get world famous award
                </p>
                <a href="single-blog.jsp" class="btn btn-brand">More</a>
              </div>
            </article>
          </div>
          <!--== Single Blog Post End ==-->

          <!--== Single Blog Post start ==-->
          <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
              <figure class="blog-thumb">
                <div class="blog-thumbnail">
                  <img
                    src="../../alumini_assets/img/blog/blog-3.jpg"
                    alt="Blog"
                    class="img-fluid"
                  />
                </div>
                <figcaption class="blog-meta clearfix">
                  <a href="single-blog.jsp" class="author">
                    <div class="author-pic">
                      <img src="../../alumini_assets/img/blog/author.jpg" alt="Author" />
                    </div>
                    <div class="author-info">
                      <h5>Aileen Wuornos</h5>
                      <p>3 mins Ago</p>
                    </div>
                  </a>
                  <div class="like-comm pull-right">
                    <a href="#"><i class="fa fa-comment-o"></i>77</a>
                    <a href="#"><i class="fa fa-heart-o"></i>12</a>
                  </div>
                </figcaption>
              </figure>

              <div class="blog-content">
                <h3>
                  <a href="single-blog.jsp"
                    >Nurse with a private practice, racked up dozens of
                    victims</a
                  >
                </h3>
                <p>
                  This is a big project of our company, we are happy to
                  completed this type projec which are get world famous award
                </p>
                <a href="single-blog.jsp" class="btn btn-brand">More</a>
              </div>
            </article>
          </div>
          <!--== Single Blog Post End ==-->
        </div>
        <!--== Blog Content Wrapper ==-->
      </div>
    </section>
    <!--== Blog Area EndBlog ==-->

    <!--== Footer Area Start ==-->
    <footer id="footer-area">
      <!-- Footer Bottom Start -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="footer-bottom-text">
                <p>© 2020 Kode Phantoms, All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom End -->
    </footer>
    <!--== Footer Area End ==-->
    <iframe id="foozi-frame" class="col-lg-4 col-md-12" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/bfe9b6de-5644-4bac-b735-694b96dd7f43" style="display: none;">
      </iframe>    
    <label class="btn-fab btn-icon btn-round btn-lg" style="position: fixed; bottom: 15px; z-index: 10; right: 15px;" id="startBtn"     value="Let's begin">
    <img src="alumnibot/img/favicon.png" alt="Foozam Logo" width="50px" style="margin-top: 12px" />
    </label>


<script src="alumnibot/js/core/jquery.min.js"></script>
<script src="alumnibot/js/core/popper.min.js"></script>
<script src="alumnibot/js/core/bootstrap.min.js"></script>
<script src="alumnibot/js/plugins/perfect-scrollbar.jquery.min.js"></script>


<script src="alumnibot/js/plugins/chartjs.min.js"></script>

<script src="alumnibot/js/plugins/bootstrap-notify.js"></script>

<script src="alumnibot/js/black-dashboard.min.js?v=1.0.0"></script>
<script src="alumnibot/js/loading.js"></script>
<script src="alumnibot/js/logout.js"></script>
<script>
    document.body.className += ' fade-out';

    function loggedInUser() {
      const googleLoggedIn = parseInt(localStorage.getItem('googleLoggedIn'));
      const userLoggedIn = parseInt(localStorage.getItem('userLoggedIn'));
      if (googleLoggedIn) {
        const user = JSON.parse(localStorage.getItem('googleUser'));
        const userProfilePhoto = document.getElementById('userProfilePhoto');
        userProfilePhoto.setAttribute('src', user.photoURL);
      } else if (userLoggedIn) {
        const user = JSON.parse(localStorage.getItem('loggedInUser'));
      }
    }

    function chatbot() {
      const $fooziButton = $('.btn-fab');
      const $fooziFrame = $('#foozi-frame');
      let toggleFoozi = false;
      $fooziButton.click(() => {
        if (toggleFoozi === false) {
          $fooziFrame.css('display', 'block');
          toggleFoozi = true;
        } else {
          $fooziFrame.css('display', 'none');
          toggleFoozi = false;
        }
      });
    }

    $(document).ready(function () {
      $().ready(function () {
        if (localStorage.getItem('white_color') === 'true') {
          $('body').addClass('white-content');
        } else {
          $('body').removeClass('white-content');
        }
        loggedInUser();
        chatbot();
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function (event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $(".light-badge").click(function () {
          $("body").addClass("white-content");
          localStorage.setItem('white_color', true);
          window.setTimeout(() => {
            location.reload();
          }, 800);
        });

        $(".dark-badge").click(function () {
          $("body").removeClass("white-content");
          localStorage.setItem('white_color', false);
          window.setTimeout(() => {
            location.reload();
          }, 800);
        });
      });
    });
  </script>

    <!--== Scroll Top ==-->
    <a href="#" class="scroll-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!--== Scroll Top ==-->

    <!-- SITE SCRIPT  -->

    <!-- Jquery JS  -->
    <script src="../../alumini_assets/vendor/jquery/jquery-3.3.1.min.js"></script>

    <!-- POPPER JS -->
    <script src="../../alumini_assets/vendor/bootstrap/js/popper.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="../../alumini_assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../alumini_assets/vendor/navbar/bootstrap-4-navbar.js"></script>

    <!--owl-->
    <script src="../../alumini_assets/vendor/owl-carousel/owl.carousel.min.js"></script>

    <!--Waypoint-->
    <script src="../../alumini_assets/vendor/waypoint/waypoints.min.js"></script>

    <!--CounterUp-->
    <script src="../../alumini_assets/vendor/counterup/jquery.counterup.min.js"></script>

    <!--isotope-->
    <script src="../../alumini_assets/vendor/isotope/isotope.pkgd.min.js"></script>

    <!--magnific-->
    <script src="../../alumini_assets/vendor/magnific/jquery.magnific-popup.min.js"></script>

    <!--Smooth Scroll-->
    <script src="../../alumini_assets/vendor/smooth-scroll/jquery.smooth-scroll.min.js"></script>

    <!--Jquery Easing-->
    <script src="../../alumini_assets/vendor/jquery-easing/jquery.easing.1.3.min.js"></script>

    <!--Nice Select -->
    <script src="../../alumini_assets/vendor/nice-select/jquery.nice-select.js"></script>

    <!--Jquery Valadation -->
    <script src="../../alumini_assets/vendor/validation/jquery.validate.min.js"></script>
    <script src="../../alumini_assets/vendor/validation/additional-methods.min.js"></script>

    <!--off-canvas js -->
    <script src="../../alumini_assets/vendor/js-offcanvas/js/js-offcanvas.pkgd.min.js"></script>

    <!-- Countdown -->
    <script src="../../alumini_assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>

    <!-- custom js: main custom theme js file  -->
    <script src="../../alumini_assets/js/theme.min.js"></script>

    <!-- custom js: custom js file is added for easy custom js code  -->
    <script src="../../alumini_assets/js/custom.js"></script>
  </body>
</html>
